---
layout: default
title: "Blog Home Page"
permalink: /blog/
---
<!-- Page Content-->
<div class="container px-5 my-5">
    <div class="text-center mb-5">
        <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Blog</span></h1>
    </div>
    <div class="row gx-5 justify-content-center">
      <!-- Main content -->
      <div class="col-md-8">
        <h1 class="mb-4">Latest Posts</h1>

        {% for post in site.posts %}
          <article class="card shadow border-0 rounded-4 mb-5">
            <h2><a href="{{ post.url | relative_url | absolute_url }}">{{ post.title }}</a></h2>
            <p class="text-muted"><small>{{ post.date | date: "%B %d, %Y" }}</small></p>
            {% if post.excerpt %}
            <div class="card-body p-3">
               <p>{{ post.excerpt | strip_html | truncatewords: 30 }}</p>
               <p><a href="{{ post.url | relative_url | absolute_url }}" class="read-more">Read More →</a></p>
            </div>
            {% endif %}
          </article>
        {% endfor %}
      </div>

      <!-- Sidebar -->
      <div class="col-md-4">
        <aside class="sidebar">

          <section class="sidebar-section">
            <h3>🕘 Recent Posts</h3>
            <ul class="list-unstyled">
              {% for recent in site.posts limit:5 %}
                <li><a href="{{ recent.url | relative_url | absolute_url }}">{{ recent.title }}</a></li>
              {% endfor %}
            </ul>
          </section>

          <section class="sidebar-section">
            <h3>🏷️ Tags</h3>
            <ul class="list-inline">
              {% assign all_tags = site.tags | sort %}
              {% for tag in all_tags %}
                <li class="list-inline-item">
                  <a href="{{ '/blog/tags/#' | append: tag[0] | relative_url | absolute_url }}">{{ tag[0] }}</a>
                </li>
              {% endfor %}
            </ul>
            <p><a href="{{ '/blog/tags/' | relative_url | absolute_url }}" class="btn btn-sm">View all tags</a></p>
          </section>

          <section class="sidebar-section">
            <h3></h3>
            <h3>📂 Categories</h3>
            <ul class="list-unstyled">
              {% assign categories = site.categories | sort %}
              {% for category in categories %}
                <li>
                  <a href="{{ '/blog/categories/#' | append: category[0] | relative_url | absolute_url }}">{{ category[0] }}</a>
                </li>
              {% endfor %}
            </ul>
            <p><a href="{{ '/blog/categories/' | relative_url | absolute_url }}" class="btn btn-sm">View all categories</a></p>
          </section>

        </aside>
      </div>
    </div>
</div>